@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="border-top: 2px solid #f84141;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="text-center font-weight-bold">ABOUT US</h2>
            <div class="d-flex justify-content-center align-items-center">
                <img src="~/Images/company-pro-img.jpg" alt="" class="img-fluid shadow" />
            </div>
            <div class="row pt-4">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="text-justify">
                        Sui Northern Gas Pipelines Limited (SNGPL) was incorporated as a private limited Company in 1963 and converted into a public limited company in January 1964 under the Companies Act 1913, now The Companies Act 2017, and is listed on the Pakistan Stock Exchange (PSX).
                    </p>
                    <p class="text-justify">
                        The Company took over the existing Sui-Multan System (217 miles of 16 inch and 80 miles of 10 inch diameter pipelines) from Pakistan industrial Development Corporation (PIDC) and Dhulian-Rawalpindi-Wah system (82 miles of 6 inch diameter pipeline) from Attock Oil Company Limited. The Company's commercial operations commenced by selling an average of 47 MMCFD gas in two regions viz. Multan and Rawalpindi, serving a total number of 67 consumers.
                    </p>
                    <p class="text-justify">
                        Sui Northern Gas Pipelines Limited (SNGPL) is the largest integrated gas company serving more than 6.8 million consumers in North Central Pakistan through an extensive network in Punjab, Khyber Pakhtunkhwa and Azad Jammu & Kashmir and
                        <span class="text-danger">is certified against ISO 14001:2015 & OHSAS 18001:2007 Standards. SNGPL’s 11 sites have been registered under the "SMART2" Program by Pakistan Environmental Protection Agency (PAK-EPA).</span>
                        The Company has over 50 years of experience in operation and maintenance of high-pressure gas transmission and distribution systems. It has also expanded its activities as Engineering, Procurement and Construction (EPC) Contractor to undertake the planning, designing and construction of pipelines, both for itself and other organizations.
                    </p>
                    <p class="text-justify">
                        SNGPL transmission system extends from Sui in Baluchistan to Peshawar in Khyber Pakhtunkhwa comprising over 9,143.75 KM of Transmission System (Main lines & Loop lines). The distribution activities covering 4,967 main towns along with adjoining villages in Punjab & Khyber Pakhtunkhwa are organized through 16 regional offices. Distribution system consists of 135,857 KM of pipeline. SNGPL has over 6.8 million consumers comprising Commercial, Domestic, General Industry, Fertilizer Power & Cement Sectors. Annual gas sales to the consumers were 623,724 MMCF during Jul 2019 - Jun 2020.
                    </p>
                    <p class="text-justify">
                        With the planned receipt of additional 1200 MMCFD RLNG into SNGPL's transmission system due to shortfall of indigenous gas supplies, SNGPL had managed to secure the completion of magnanimous pipeline infrastructure project involving approximately 1100 Kms pipelines of diameter 42" - 16" along with installation of 35000 HP compression. A lot of hurdles / obstacles came across while executing the project but dedication and commitment of the SNGPL's leadership, planning and design along with procurement and execution team's instrumental approach, their untiring efforts and day and night work enabled SNGPL to achieve the task in miraculous time. This is the largest ever completed project in the history of Pakistani gas market so far as well as the project is completed in the minimum time ever recorded with such quantum of job by using purely in-house resources and expertise.. With the energization of LNG terminals in the country and after completion of RLNG transport infrastructure & pipelines, RLNG is being supplied to all categories of consumers including Industrial, Power, Cement, CNG, Commercial and Domestic throughout the year.
                    </p>
                    <p><strong>Company Registration Number:</strong><span class="text-danger"> CUIN-0043761</span> </p>
                    <p><strong>National Tax Number(NTN):</strong> <span class="text-danger"> 0801137-7</span> </p>
                    <p><strong>General Sales Tax Number(GST):</strong><span class="text-danger"> 03-91-9999-967-19</span> </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container pt-2" style="border-top: 2px solid #f84141;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="text-center font-weight-bold">OUR GALLERY</h2>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/1.jpg" alt="" style="height:200px" class="img-fluid" />
                    </div>
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/2.jpg" alt="" style="height:200px" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/3.jpg" alt="" style="height:408px" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/4.jpg" alt="" style="height:200px" class="img-fluid" />
                    </div>
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/5.jpg" alt="" style="height:200px;width:100%" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/6.jpg" alt="" style="height:100px" class="img-fluid" />
                    </div>
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/7.jpg" alt="" style="height:300px" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>