@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="border-top: 2px solid #f84141;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="text-center font-weight-bold">CONTACT US</h2>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h5 class="text-danger font-weight-bold mb-1">Head Office / Registered Office</h5>
                    <p class="mb-3">SNGPL Head Office, Gas House, 21 Kashmir Road, Lahore</p>
                    <p class="mb-3">
                        <strong>Ph:&nbsp;</strong>
                        <a href="tel:+92-42-99082000" class="text-primary">042-99082000</a>,
                        <a href="tel:+92-42-99082006" class="text-primary">92-42-99082006</a>
                    </p>

                    <p class="mb-3">
                        <strong>Fax:&nbsp;</strong>
                        <a href="tel:+92-42-99201369" class="text-primary"> 92-42-99201369</a>,
                        <a href="tel:+92-42-99201302" class="text-primary"> 92-42-99201302</a>
                    </p>
                    <p class="mb-3">
                        <strong>Billing Complaints:</strong>
                        <a href="mailto:billing@sngpl.com.pk" class="text-primary"> billing@sngpl.com.pk</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5 class="text-danger font-weight-bold mb-1">Regional Offices</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="text-danger font-weight-bold mb-1">Abbotabad</h5>
                            <p class="mb-3">SNGPL Regional Office, Jub Pull, Mansehra Road, Abbotabad</p>
                            <p class="mb-3"><strong>Tel:&nbsp;</strong><a href="tel:+0992-9310071-00" class="text-primary">0992-9310071-72</a>, <a href="tel:+0992-9310077-78">+0992-9310077-78</a></p>
                            <p class="mb-3"><strong>Fax:&nbsp;</strong><a href="tel:+0992-9310070" class="text-primary">0992-9310070</a></p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="text-danger font-weight-bold mb-1">Bahawalpur</h5>
                            <p class="mb-3">SNGPL Regional Office, 6-1-D, Model Town-A, Bahawalpur</p>
                            <p class="mb-3"><strong>Tel:&nbsp;</strong><a href="tel:+062-9255022-24 " class="text-primary">062-9255022-24</a></p>
                            <p class="mb-3"><strong>Fax:&nbsp;</strong><a href="tel:+062-9255026" class="text-primary">062-9255026, 062-9255033</a></p>
                        </div>
                        <div class="col-md-4">
                            <h5 class="text-danger font-weight-bold mb-1">Faisalabad</h5>
                            <p class="mb-3">SNGPL Regional Office, Sargodha Road, Faisalabad</p>
                            <p class="mb-3"><strong>Tel:&nbsp;</strong><a href="tel:+041-9210033-35" class="text-primary">041-9210033-35 </a></p>
                            <p class="mb-3"><strong>Fax:&nbsp;</strong><a href="tel:+041-9210037" class="text-primary">041-9210037</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container pt-2" style="border-top: 2px solid #f84141;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="text-center font-weight-bold">OUR GALLERY</h2>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/1.jpg" alt="" style="height:200px" class="img-fluid" />
                    </div>
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/2.jpg" alt="" style="height:200px" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/3.jpg" alt="" style="height:408px" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/4.jpg" alt="" style="height:200px" class="img-fluid" />
                    </div>
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/5.jpg" alt="" style="height:200px;width:100%" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/6.jpg" alt="" style="height:100px" class="img-fluid" />
                    </div>
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/7.jpg" alt="" style="height:300px" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>