@{
    ViewData["Title"] = "FeedbackResult";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = "";
    if (TempData["FeedbackUser"].ToString() != null)
    {
        user = TempData["FeedbackUser"].ToString();
    }
}
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 p-2">

            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Thank You "<strong>@user</strong>"  for Your Valuable Feedback.</h4>
                <p>We really appreciate your time and feedback. Looking forward to work on your feedback.</p>
                <hr>
                <p class="mb-0">Want to explore more, go to our <a asp-action="Index" asp-controller="Home" class="text-primary font-weight-bold">Home</a> page.</p>
            </div>
        </div>
    </div>
</div>