@{
    ViewData["Title"] = "OUR PROJECTS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="border-top: 2px solid #f84141;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="text-center font-weight-bold">YEAR WISE ACHIEVEMENTS</h2>
            <div class="row">
                <div class="col-md-12 p-4">
                    <p>
                        <a class="btn btn-warning btn-block text-left text-white font-weight-bold border-left" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            FY 2019-2020
                        </a>
                    </p>
                    <div class="collapse mb-4" id="collapseExample">
                        <div class="card card-body ">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center table-striped">
                                    <thead class="theader">
                                        <tr>
                                            <td colspan="4"><strong>Transmission Lines</strong></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Sr. No.</strong></td>
                                            <td><strong>TITLE</strong></td>
                                            <td><strong>DIA(Inch)</strong></td>
                                            <td><strong>LENGTH(Km)</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">1.</td>
                                            <td align="left">Kohat – Dhakhni Line portion from Guruzai to KhushaslGarh)</td>
                                            <td align="center">24</td>
                                            <td align="center">19.83</td>
                                        </tr>
                                        <tr>
                                            <td align="center">2.</td>
                                            <td align="left">Punjab Power Plant, Jhang</td>
                                            <td align="center">24</td>
                                            <td align="center">93.00</td>
                                        </tr>
                                        <tr>
                                            <td align="center">3.</td>
                                            <td align="left">Daud Khel – Mianwali Line</td>
                                            <td align="center">10</td>
                                            <td align="center">50.70</td>
                                        </tr>
                                        <tr>
                                            <td align="center">4.</td>
                                            <td align="left">Adhi - Sukho Line</td>
                                            <td align="center">10</td>
                                            <td align="center">11.50</td>
                                        </tr>
                                        <tr>
                                            <td align="center">5.</td>
                                            <td align="left">Dhoke Hussain to Dhoda Valve Assembly Line</td>
                                            <td align="center">8</td>
                                            <td align="center">14.50</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="right"><strong>Total</strong></td>
                                            <td align="center"><strong>189.53</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                                <table class="table table-bordered text-center table-striped">
                                    <thead class="theader">
                                        <tr>
                                            <td colspan="3"><strong>Distribution Lines</strong></td>
                                        </tr>
                                        <tr>
                                            <td><strong>PIPE DIAMETER (Inches)</strong></td>
                                            <td><strong>LAYING(KMs)</strong></td>
                                            <td><strong>COMMISSIONING(KMs)</strong></td>
                                        </tr>
                                        <tr><td colspan="3"><strong>M.S/P.E</strong></td></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">24</td>
                                            <td align="center">0</td>
                                            <td align="center">0</td>
                                        </tr>
                                        <tr>
                                            <td align="center">18</td>
                                            <td align="center">0</td>
                                            <td align="center">0</td>
                                        </tr>
                                        <tr>
                                            <td align="center">16</td>
                                            <td align="center">13.055</td>
                                            <td align="center">6.739</td>
                                        </tr>
                                        <tr>
                                            <td align="center">12</td>
                                            <td align="center">25.961</td>
                                            <td align="center">29.196</td>
                                        </tr>
                                        <tr>
                                            <td align="center">10</td>
                                            <td align="center">53.388</td>
                                            <td align="center">107.446</td>
                                        </tr>
                                        <tr>
                                            <td align="center">8</td>
                                            <td align="center">137.35</td>
                                            <td align="center">176.397</td>
                                        </tr>
                                        <tr>
                                            <td align="center">6</td>
                                            <td align="center">331.789</td>
                                            <td align="center">391.74</td>
                                        </tr>
                                        <tr>
                                            <td align="center">4</td>
                                            <td align="center">43.054</td>
                                            <td align="center">35.81</td>
                                        </tr>
                                        <tr>
                                            <td align="center">2</td>
                                            <td align="center">37.877</td>
                                            <td align="center">45.681</td>
                                        </tr>
                                        <tr>
                                            <td align="center">1</td>
                                            <td align="center">33.817</td>
                                            <td align="center">78.856</td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" align="right"><strong>Total</strong></td>
                                            <td align="center"><strong>676.291</strong></td>
                                            <td align="center"><strong>871.865</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <p>
                        <a class="btn btn-warning btn-block text-left text-white font-weight-bold border-left" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                            FY 2018-2019
                        </a>
                    </p>
                    <div class="collapse mb-4" id="collapseExample1">
                        <div class="card card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center table-striped">
                                    <thead class="theader">
                                        <tr><td colspan="4"><strong>Transmission Lines</strong></td></tr>
                                        <tr>
                                            <td><strong>Sr. No.</strong></td>
                                            <td><strong>TITLE</strong></td>
                                            <td><strong>DIA(Inch)</strong></td>
                                            <td><strong>LENGTH(Km)</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">1.</td>
                                            <td align="left">Swat - Mardan Line </td>
                                            <td align="center">12</td>
                                            <td align="center">30.59</td>
                                        </tr>
                                        <tr>
                                            <td align="center">2.</td>
                                            <td align="left">Swat - Mardan Line </td>
                                            <td align="center">12</td>
                                            <td align="center">17.62</td>
                                        </tr>
                                        <tr>
                                            <td align="center">3.</td>
                                            <td align="left">Matani to Regi Lalma</td>
                                            <td align="center">8</td>
                                            <td align="center">32.50</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="right"><strong>Total</strong></td>
                                            <td align="center"><strong>80.71</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                                <table class="table table-bordered text-center table-striped">
                                    <thead class="theader">
                                        <tr><td colspan="3"><strong>Distribution Lines</strong></td></tr>
                                        <tr>
                                            <td><strong>PIPE DIAMETER (Inches)</strong></td>
                                            <td><strong>LAYING(KMs)</strong></td>
                                            <td><strong>COMMISSIONING(KMs)</strong></td>
                                        </tr>
                                        <tr><td colspan="3"><strong>M.S/P.E</strong></td></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">24</td>
                                            <td align="center">0</td>
                                            <td align="center">0</td>
                                        </tr>
                                        <tr>
                                            <td align="center">18</td>
                                            <td align="center">0.018</td>
                                            <td align="center">0.367</td>
                                        </tr>
                                        <tr>
                                            <td align="center">16</td>
                                            <td align="center">16.784</td>
                                            <td align="center">12.86</td>
                                        </tr>
                                        <tr>
                                            <td align="center">12</td>
                                            <td align="center">55.594</td>
                                            <td align="center">65.795</td>
                                        </tr>
                                        <tr>
                                            <td align="center">10</td>
                                            <td align="center">127.663</td>
                                            <td align="center">141.276</td>
                                        </tr>
                                        <tr>
                                            <td align="center">8</td>
                                            <td align="center">234.203</td>
                                            <td align="center">182.399</td>
                                        </tr>
                                        <tr>
                                            <td align="center">6</td>
                                            <td align="center">428.892</td>
                                            <td align="center">377.923</td>
                                        </tr>
                                        <tr>
                                            <td align="center">4</td>
                                            <td align="center">45.381</td>
                                            <td align="center">54.191</td>
                                        </tr>
                                        <tr>
                                            <td align="center">2</td>
                                            <td align="center">29.523</td>
                                            <td align="center">31.96</td>
                                        </tr>
                                        <tr>
                                            <td align="center">1</td>
                                            <td align="center">45.057</td>
                                            <td align="center">56.757</td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" align="right"><strong>Total</strong></td>
                                            <td align="center"><strong>983.115</strong></td>
                                            <td align="center"><strong>923.528</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <p>
                        <a class="btn btn-warning btn-block text-left text-white font-weight-bold border-left" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                            FY 2017-2018
                        </a>
                    </p>
                    <div class="collapse mb-4" id="collapseExample2">
                        <div class="card card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center table-striped">
                                    <thead class="theader">
                                        <tr>
                                            <td colspan="4"><strong>Transmission Lines</strong></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Sr. No.</strong></td>
                                            <td><strong>TITLE</strong></td>
                                            <td><strong>DIA(Inch)</strong></td>
                                            <td><strong>LENGTH(Km)</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">1.</td>
                                            <td align="left">AC1X - AV29 Line</td>
                                            <td align="center">36</td>
                                            <td align="center">171.13</td>
                                        </tr>
                                        <tr>
                                            <td align="center">2.</td>
                                            <td align="left">Okara Cantt. -  Akhtarbad  -Phool Nagar V/A Line </td>
                                            <td align="center">30</td>
                                            <td align="center">66.98</td>
                                        </tr>
                                        <tr>
                                            <td align="center">3.</td>
                                            <td align="left">Head Balloki CX Line (from U/S V/Assembly to D/S  V/Assembly at  River Ravi)</td>
                                            <td align="center">24</td>
                                            <td align="center">3.10</td>
                                        </tr>
                                        <tr>
                                            <td align="center">4.</td>
                                            <td align="left">Sargodha Transmission Lines</td>
                                            <td align="center">16</td>
                                            <td align="center">21.20</td>
                                        </tr>
                                        <tr>
                                            <td align="center">5.</td>
                                            <td align="left">Tolanj Sales Line</td>
                                            <td align="center">8</td>
                                            <td align="center">3.50</td>
                                        </tr>
                                        <tr>
                                            <td align="center">6.</td>
                                            <td align="left">Swat – Mardan Line</td>
                                            <td align="center">12</td>
                                            <td align="center">56.00</td>
                                        </tr>
                                        <tr>
                                            <td align="center">7.</td>
                                            <td align="left">Daska - Sambrial Line</td>
                                            <td align="center">8</td>
                                            <td align="center">11.60</td>
                                        </tr>
                                        <tr>
                                            <td align="center">8.</td>
                                            <td align="left">MP:37.88 - KAPCO Line</td>
                                            <td align="center">16</td>
                                            <td align="center">8.50</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="right"><strong>Total</strong></td>
                                            <td align="center"><strong>695.563</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                                <table class="table table-bordered text-center table-striped">
                                    <thead class="theader">
                                        <tr>
                                            <td colspan="3"><strong>Distribution Lines</strong></td>
                                        </tr>
                                        <tr>
                                            <td><strong>PIPE DIAMETER (Inches)</strong></td>
                                            <td><strong>LAYING(KMs)</strong></td>
                                            <td><strong>COMMISSIONING(KMs)</strong></td>
                                        </tr>
                                        <tr><td colspan="3"><strong>M.S/P.E</strong></td></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">24</td>
                                            <td align="center">2.709</td>
                                            <td align="center">3.4</td>
                                        </tr>
                                        <tr>
                                            <td align="center">18</td>
                                            <td align="center">0.999</td>
                                            <td align="center">0.65</td>
                                        </tr>
                                        <tr>
                                            <td align="center">16</td>
                                            <td align="center">0.716</td>
                                            <td align="center">22.554</td>
                                        </tr>
                                        <tr>
                                            <td align="center">12</td>
                                            <td align="center">63.856</td>
                                            <td align="center">64.014</td>
                                        </tr>
                                        <tr>
                                            <td align="center">10</td>
                                            <td align="center">162.641</td>
                                            <td align="center">66.639</td>
                                        </tr>
                                        <tr>
                                            <td align="center">8</td>
                                            <td align="center">318.915</td>
                                            <td align="center">245.154</td>
                                        </tr>
                                        <tr>
                                            <td align="center">6</td>
                                            <td align="center">664.974</td>
                                            <td align="center">556.973</td>
                                        </tr>
                                        <tr>
                                            <td align="center">4</td>
                                            <td align="center">138.137</td>
                                            <td align="center">122.542</td>
                                        </tr>
                                        <tr>
                                            <td align="center">2</td>
                                            <td align="center">71.1</td>
                                            <td align="center">71.082</td>
                                        </tr>
                                        <tr>
                                            <td align="center">1</td>
                                            <td align="center">111.003</td>
                                            <td align="center">80.57</td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" align="right"><strong>Total</strong></td>
                                            <td align="center"><strong>1535.05</strong></td>
                                            <td align="center"><strong>1233.578</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <p>
                        <a class="btn btn-warning btn-block text-left text-white font-weight-bold border-left" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                            FY 2016-2017
                        </a>
                    </p>
                    <div class="collapse mb-4" id="collapseExample3">
                        <div class="card card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center table-striped">
                                    <thead class="theader">
                                        <tr>
                                            <td colspan="4"><strong>Transmission Lines</strong></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Sr. No.</strong></td>
                                            <td><strong>TITLE</strong></td>
                                            <td><strong>DIA(Inch)</strong></td>
                                            <td><strong>LENGTH(Km)</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">1.</td>
                                            <td align="left">Qadirpur – QV2   - AC1X Line</td>
                                            <td align="center">42</td>
                                            <td align="center">70.30</td>
                                        </tr>
                                        <tr>
                                            <td align="center">2.</td>
                                            <td align="left">Nara Canal Crossing on SV2 - SV3 of LNG Phase-I</td>
                                            <td align="center">42</td>
                                            <td align="center">0.49</td>
                                        </tr>
                                        <tr>
                                            <td align="center">3.</td>
                                            <td align="left">AV10 - A4 - A4 – AC4 Line </td>
                                            <td align="center">36</td>
                                            <td align="center">59.62</td>
                                        </tr>
                                        <tr>
                                            <td align="center">4.</td>
                                            <td align="left">AV15 - AV20</td>
                                            <td align="center">36</td>
                                            <td align="center">5.535</td>
                                        </tr>
                                        <tr>
                                            <td align="center">5.</td>
                                            <td align="left">AV20 - A6 -  AV22 Line</td>
                                            <td align="center">36</td>
                                            <td align="center">66.21</td>
                                        </tr>
                                        <tr>
                                            <td align="center">6.</td>
                                            <td align="left">Okara Cantt. -  Akhtarbad  Line (Sahiwal - Phool Nagar Line)</td>
                                            <td align="center">30</td>
                                            <td align="center">42.37</td>
                                        </tr>
                                        <tr>
                                            <td align="center">7.</td>
                                            <td align="left">Bhikki Power Plant</td>
                                            <td align="center">30</td>
                                            <td align="center">17.50</td>
                                        </tr>
                                        <tr>
                                            <td align="center">8.</td>
                                            <td align="left">Balloki Power Plant</td>
                                            <td align="center">30</td>
                                            <td align="center">7.50</td>
                                        </tr>
                                        <tr>
                                            <td align="center">9.</td>
                                            <td align="left">Haveli Bahadur Shah Power Plant</td>
                                            <td align="center">30</td>
                                            <td align="center">37.30</td>
                                        </tr>
                                        <tr>
                                            <td align="center">10.</td>
                                            <td align="left">AV29 – MianChannu - Sahiwal Line</td>
                                            <td align="center">24</td>
                                            <td align="center">145.20</td>
                                        </tr>
                                        <tr>
                                            <td align="center">11.</td>
                                            <td align="left">Nandipuer Power Plant</td>
                                            <td align="center">24</td>
                                            <td align="center">84.60</td>
                                        </tr>
                                        <tr>
                                            <td align="center">12.</td>
                                            <td align="left">PhoolNagar  - MP-59.9 Line</td>
                                            <td align="center">18</td>
                                            <td align="center">63.50</td>
                                        </tr>

                                        <tr>
                                            <td align="center">13.</td>
                                            <td align="left">MP-59.9 - Tatalayali Line</td>
                                            <td align="center">16</td>
                                            <td align="center">44.60</td>
                                        </tr>
                                        <tr>
                                            <td align="center">14.</td>
                                            <td align="left">BV3 (Khurrianwala)  - B1 (Manawala) Line</td>
                                            <td align="center">16</td>
                                            <td align="center">25.37</td>
                                        </tr>
                                        <tr>
                                            <td align="center">15.</td>
                                            <td align="left">Balloki Barrage Crossing</td>
                                            <td align="center">16</td>
                                            <td align="center">0.488</td>
                                        </tr>
                                        <tr>
                                            <td align="center">16.</td>
                                            <td align="left">Sahiwal - Rojhan Line</td>
                                            <td align="center">12</td>
                                            <td align="center">21.00</td>
                                        </tr>
                                        <tr>
                                            <td align="center">17.</td>
                                            <td align="left">Nari Panos Line</td>
                                            <td align="center">8</td>
                                            <td align="center">2.98</td>
                                        </tr>
                                        <tr>
                                            <td align="center">18.</td>
                                            <td align="left">Kalabagh I-A to Existing V/A MP:11.29 Line</td>
                                            <td align="center">8</td>
                                            <td align="center">1.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="right"><strong>Total</strong></td>
                                            <td align="center"><strong>695.563</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                                <table class="table table-bordered text-center table-striped">
                                    <thead class="theader">
                                        <tr>
                                            <td colspan="3"><strong>Distribution Lines</strong></td>
                                        </tr>
                                        <tr>
                                            <td><strong>PIPE DIAMETER (Inches)</strong></td>
                                            <td><strong>LAYING(KMs)</strong></td>
                                            <td><strong>COMMISSIONING(KMs)</strong></td>
                                        </tr>
                                        <tr><td colspan="3"><strong>M.S/P.E</strong></td></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">24</td>
                                            <td align="center">0.744</td>
                                            <td align="center">0.053</td>
                                        </tr>
                                        <tr>
                                            <td align="center">18</td>
                                            <td align="center">0.041</td>
                                            <td align="center">0.041</td>
                                        </tr>
                                        <tr>
                                            <td align="center">16</td>
                                            <td align="center">17.426</td>
                                            <td align="center">17.693</td>
                                        </tr>
                                        <tr>
                                            <td align="center">12</td>
                                            <td align="center">30.531</td>
                                            <td align="center">19.753</td>
                                        </tr>
                                        <tr>
                                            <td align="center">10</td>
                                            <td align="center">44.078</td>
                                            <td align="center">23.876</td>
                                        </tr>
                                        <tr>
                                            <td align="center">8</td>
                                            <td align="center">106.667</td>
                                            <td align="center">109.484</td>
                                        </tr>
                                        <tr>
                                            <td align="center">6</td>
                                            <td align="center">122.175</td>
                                            <td align="center">110.729</td>
                                        </tr>
                                        <tr>
                                            <td align="center">4</td>
                                            <td align="center">39.584</td>
                                            <td align="center">31.583</td>
                                        </tr>
                                        <tr>
                                            <td align="center">2</td>
                                            <td align="center">48.874</td>
                                            <td align="center">18.698</td>
                                        </tr>
                                        <tr>
                                            <td align="center">1 &amp; 1 1/4</td>
                                            <td align="center">53.3</td>
                                            <td align="center">19</td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" align="right"><strong>Total</strong></td>
                                            <td align="center"><strong>463.42</strong></td>
                                            <td align="center"><strong>350.91</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <p>
                        <a class="btn btn-warning btn-block text-left text-white font-weight-bold border-left" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
                            FY 2015-2016
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample4">
                        <div class="card card-body">

                            <h3 class="text-danger">1. Projects Completed in FY 2014-2015</h3>
                            <ul class="li-dec">
                                <li>a.&nbsp;Transmission Lines Commissioned &nbsp;45.56 Km *</li>
                                <li>b.&nbsp;Distribution Lines Commissioned  &nbsp;512.28 Km *</li>
                                <li><sub>*Both of the above figures depict progress of Project Department as on June 25,2015.</sub></li>
                            </ul>
                            <h3 class="text-danger">2. Work in hand</h3>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;a.&nbsp;Remaining Portions of Infrastructure Development Project</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(24 " Dia Kohat - Dakhni - Dhullian - Gali Jagir Line)</p>
                            <p>b. LNG Phase I</p>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" border="0">
                                    <thead>
                                        <tr>
                                            <td><strong>SR</strong></td>
                                            <td><strong>TITLE</strong></td>
                                            <td><strong>DIA (inch)</strong></td>
                                            <td><strong>LENGTH (km)</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">1.</td>
                                            <td align="left">Sawan - SV2</td>
                                            <td align="center">42"</td>
                                            <td align="center">27.068</td>
                                        </tr>
                                        <tr>
                                            <td align="center">2.</td>
                                            <td align="left">SV2 - SV3</td>
                                            <td align="center">42"</td>
                                            <td align="center">26.243</td>
                                        </tr>
                                        <tr>
                                            <td align="center">3.</td>
                                            <td align="left">SV3 - SV4</td>
                                            <td align="center">42"</td>
                                            <td align="center">29.11</td>
                                        </tr>
                                        <tr>
                                            <td align="center">4.</td>
                                            <td align="left">SV5 - Qadipur</td>
                                            <td align="center">42"</td>
                                            <td align="center">28.66</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="right"><strong>Total</strong></td>
                                            <td align="center"><strong>111.281</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h3 class="text-danger">3. Future Planned Projects</h3>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;a.LNG Phase II</p>
                            <p>&nbsp;</p>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" border="0">
                                    <thead>
                                        <tr>
                                            <td><strong>SR</strong></td>
                                            <td><strong>TITLE</strong></td>
                                            <td><strong>DIA (inch)</strong></td>
                                            <td><strong>LENGTH (km)</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">1.</td>
                                            <td align="left">Qadirpur</td>
                                            <td align="center">42"</td>
                                            <td align="center">70.30</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td align="left">to</td>
                                            <td align="center">36"</td>
                                            <td align="center">302.50</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td align="left">MP - 27 (Tatley Wali GRW.)</td>
                                            <td align="center">30"</td>
                                            <td align="center">109.35</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td align="center">24"</td>
                                            <td align="center">145.20</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td align="center">18"</td>
                                            <td align="center">64.76</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td align="center">16"</td>
                                            <td align="center">70.32</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="right"><strong>Total</strong></td>
                                            <td align="center"><strong>762.43</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container pt-2" style="border-top: 2px solid #f84141;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="text-center font-weight-bold">OUR GALLERY</h2>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/1.jpg" alt="" style="height:200px" class="img-fluid" />
                    </div>
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/2.jpg" alt="" style="height:200px" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/3.jpg" alt="" style="height:408px" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/4.jpg" alt="" style="height:200px" class="img-fluid" />
                    </div>
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/5.jpg" alt="" style="height:200px;width:100%" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6 p-0 w-100">
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/6.jpg" alt="" style="height:100px" class="img-fluid" />
                    </div>
                    <div class="p-1 galleryimg">
                        <img src="~/Images/Gallery/7.jpg" alt="" style="height:300px" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>